
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url('./img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%;
    position: relative;
}
.main{
    display: flex;
}
.main h4{
    width: 78px;
    height: 35px;
    /* top: 40px;
    left: 80px; */
    padding: 5vh;
    color:#FFFFFF;
    /* position: absolute; */
    font-style: 'Gilroy-Bold';
    font-size:28px;
    line-height: 32.81px;
    letter-spacing: 1%;
}
.list{
    width:30%;
    height:22px;
    /* padding : 3vh; */
    /* padding-left :25%; */
    margin: auto;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navicon{
    display: none;
}
.list li{
    list-style: none;
}
.list li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    line-height: 21px;
}
.bag{
    width:10%;
    padding: 4%;
    /* position: absolute; */
    /* color: #000000; */
    display: flex;
   
}
.count{
    width:20px;
    height:25px;
    padding-right: 0.1vh;
    /* margin-right:1vh ; */
    /* Top:3px;
    left:20px;  */
    position: absolute; 
    
}
.header-content{
    text-align: center;
    color: white;
}
.header-content h2{
    font-size: 9vh;
    line-height: 10vh;
    padding-left: 25%;
    width: 80%;
}
.header-content p{
    font-size: 3vh;
    line-height: 5vh;
    opacity: 80%;
    padding-left: 25%;
    width: 80%;
    padding-bottom: 3.5%;
    
}
.search{
    width: 100%;
    max-width: 370px;
    height: 56px;
    /* top:504px;
    left:748px; */
    margin: auto;
    border-radius:42px;
    border: 0.86px;
    justify-content:space-between;
    padding:8px, 8px, 8px, 20px;
    /* position: absolute; */
    display: flex;
    align-items: center;
    color: white;
    background: rgb(255,255,255,15%);
    
}
.search input{
    opacity: 80%;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background:transparent;
    position: absolute;
    flex:1;
    outline: none;
    border: 0;
    padding:24px 20px;
}
::placeholder{
    color: #FFFFFF;
}
.search button{
    border: 0;
    border-radius: 21px;
    background-color: #E58411;
    /* padding-right: 2vh; */
    margin-left: 32vh;
}
.search button img{
    width:40px;
    height: 40px;
}
.content2{
    width: 100%;
    /* width: 240px;
    height: 104px;
    top: 1248px;
    left: 100px; */
    font-family: 'Gilroy-Bold';
    color: #1E1E1E;
    margin: 5vh 0;
    display: flex;
}
.content2 h2{
    padding: 5vh;
    /* width: 240px;
    height: 1042px; */
    font-size: 5vh;
    line-height: 49.22px;
}
.chossing-content{
    display: flex;
}
.choosing{
    padding: 2vh;
    margin-left: 8vh;
    /* display: flex; */

}
.choosing h3{
    padding: 2vh 0 0 2vh;
    font-size: 24px;
    line-height: 29px;
    opacity: 90%;
}
.choosing p{
    margin-top: 1vh;
    font-size: 16px;
    line-height: 29.6px;
    opacity: 80%;
}
.moreinfo{
    font-size: 14px;
    line-height: 25.9px;
    color:#E58411;
    display: flex;
}
.moreinfo img{
    width: 48px;
    height: 24px;
    margin-top: 1.2vh;
    
}
.selling{
    background-color:#F7F7F7;
    width: 99vw;
    /* height: 800px; */
    top: 1500px;
    /* position: absolute; */

}
.selling h3{
    font-family: 'Gilroy-Bold';
    font-size: 42px;
    line-height: 49.22px;
    margin-top: 3vh;
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}
.option{
    text-align: center;
    margin: auto;
    background-color: #EEEEEE;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 42px;
    width: 20%;
    height:6vh;
}
.option li{
    list-style: none;
    padding: 0 2.7vh;
    gap:8px;
    /* align-items: center; */
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 21px;

}
/* .option a{
    text-decoration: none;
    font-size: 20px;
    line-height: 21px;
    
} */
.option li:hover{
    background-color: #FFFFFF;
    border-radius: 50px;
    /* height: 3vh;
    width: 6vh; */
    padding:1vh;
}
.product{
    background-color: #FAFAFA;
    left: 5rem;
    
}
.show{
    width: 1198.35px;
    height: 492px;
    top: 1775rem;
    left: 121rem;
    align-items: center;
    margin-top:2vh;
    display: flex;
    gap:5rem;
    justify-content: space-between;
    overflow-x: scroll;
}
.show::-webkit-scrollbar{
    display:none;
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}
#backBtn, #nextBtn{
    width:9vh;
    height: 9vh;
    cursor:pointer;
    /* margin:40px; */
    margin-top: 18vh;
}
/* .swiper-container{
    width: 100%;
    height: auto;
} */
.card-wrapper{
    display: flex;
}
.container{
    width: 268.09rem;
    /* background-color: antiquewhite; */
    height: auto;
}
.item-info{
    background-color:#FFFFFF;
    border-radius: 1rem;
    width: 14rem;
    height: 9rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.item p{
    top:1rem;
}
.iteam-sell{
    background-color: #FAFAFA;
}
.plus{
    display: flex;
    border-radius: 2rem;
    gap: 3rem;
    width: 1rem;
    height: 2rem;
    margin-top: 1.5rem;
}
.plus p{
    padding-left: 1rem;
    margin-top: 0.5rem;
}
.arrow{
    width: 9vh;
    height: 9vh;
    margin-top: 1vh;
    gap: 0.5rem;
}
.viewall{
    font-size: 14px;
    line-height: 25.9px;
    color:#E58411;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.moreinfo img{
    width: 48px;
    height: 24px;
    margin-top: 1.2vh;   
}
.text{
    padding-top: 15rem;
}
.text h6{
    font-family: "Gilroy-SemiBold";
    color: #E58411;
    font-size: 1.5rem;
    padding-left:  10rem;
    /* padding-top: 15rem; */
    letter-spacing: 0.1rem;
}
.text h3{
    font-size: 3rem ;
    /* padding-top: 3rem;  
    font-family: "Gilroy-SemiBold"; */
    line-height: 3rem;
    padding-left: 10rem;
}
.show-experience{
    border-radius: 3rem;
    padding-top: 15rem;
    display: flex;
    width:39rem;
    
}
.experience{
    display: flex;
}
.info p{
    color: #000000;
    padding-left: 10rem;
    padding-top: 1rem;
    font-family: "Gilroy-SemiBold";
    font-size: 1rem;
    line-height: 2rem;
}
.more-info{
    display: flex;
}
.more-info p{
    font-size: 1rem;
    padding-left: 10rem;
    padding-top: 2rem;
    color: #E58411;
}
.more-info img{
    padding-left: 1rem;
    padding-top: 1.8rem;
}
.materials{
    display: flex;
}
.material-content h6{
    border-radius: 3rem;
    padding-top: 10rem;
    font-family: "Gilroy-SemiBold";
    color: #E58411;
    font-size: 1.5rem;
    padding-left:  10rem;
    letter-spacing: 0.1rem;
}
.material-content h3{
    font-size: 3rem ;
    /* padding-top: 3rem;  
    font-family: "Gilroy-SemiBold"; */
    line-height: 3rem;
    padding-left: 10rem;
    
}
.m-info p{
    color: #000000;
    padding-left: 10rem;
    padding-top: 1rem;
    font-family: "Gilroy-SemiBold";
    font-size: 1rem;
    line-height: 2rem;
}
.imgs{
    display: flex;
}
.image1{
    padding-top: 3rem;
    padding-left: 4rem;
    /* display: flex; */
}
.image2{
    padding-top: 14rem;
    /* padding-left: 60rem; */
    /* display: flex; */
}
.testimonials{
    text-align: center;
    margin: 15vh 10vh;
    /* border: 1px solid black; */
}
.test-heading{
    font-size: 3vh;
    line-height: 2vh;
    color: #E58411;
    font-family: 'Gilroy-Bold';
}
.test-content{
    font-family: 'Gilroy-Bold';
    font-size: 5vh;
    line-height: 6vh;
}
.t-section{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 81%;
}

.testimonial-info-card{
    margin: 1.5vh;
    padding-top: 21vh;
    width: 39vh;
    height: 60vh;
    border-radius: 2vh;
}

.cilent-disc{
    border-radius: 2vh;
    padding-top: 3vh;
    width: 35vh;
    height: 26vh;
    margin: 2vh 2vh;
    text-align: center;
    color:#000000;
    background-color: white;
}
.client{
    position: relative;
    object-fit: cover;
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 50%;
    top: -60px;
}
.rating{
    position: relative;
    top: -60px;
    /* line-height: normal; */
}
.cilent-disc h3, .cilent-disc p, .cilent-disc h4 {
    position: relative;
    font-family: 'Gilroy-Bold';
    /* font-size: 1.2rem; */
    /* text-align: center; */
    top: -60px;
}
.testimonial-info{
    display: flex;
    /* width: 73rem; */
    overflow-x: scroll;
}
.testimonial-info::-webkit-scrollbar{
    display: none;
}
#backBtn1, #nextBtn1{
    width:9vh;
    height: 9vh;
    cursor:pointer;
    /* margin:40px; */
    margin-top: 20vh;
}
.b-image1{
    background: url("img/b-img1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.b-image2{
    background: url("img/b-img2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.b-image3{
    background: url("img/b-img3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.sell-arrow{
    width: 9vh;
    height: 9vh;
    margin-top: 22vh;
    gap: 0.5rem;
}
.foot{
    display: flex;
    /* position: absolute; */
    background-color: #F7F7F7;
    
}
.f-info h3{
    padding-left: 10rem;
    padding-top: 8rem;
}
.f-info p{
    padding-left: 10rem;
    padding-top: 2rem;
    font-family: 'Gilroy-Bold';
    font-size: 1rem;
    width: 30rem;
}
/* .services h6{
    padding-left:6rem;
    padding-top: 8rem;
    font-size:1rem;
    color: #E58411;
} */
footer{
    background-color: #F7F7F7;
    display: flex;
    padding: 6vh;
    height: 462px;
    /* width: 1440px; */
    top: 5160px;
}
.footer-content{
    width: 1064px;
    height: 146px;
    top: 118px;
    left: 300px;
    display: flex;
    margin: 8rem;
}
.f-info{
    /* padding: 0 10vh; */
    /* width: 25%; */
    width: 1064px;
    height: 146px;
    top: 118px;
    left: 188px;
}
.f-info p{
   padding: 0;
   line-height: 3vh;
}
.services{
    padding: 0 10vh;
    width: 25%;
   line-height: 3vh;
}
.services h4{
    padding-bottom: 1.5vh;
    font-size: 2vh;
    color: #E58411;
}
.Furniture{
    padding: 0 10vh;
    width: 25%;
    line-height: 3vh;
}
.Furniture h4{
    padding-bottom: 1.5vh;
    font-size: 2vh;
    color: #E58411;
}
.Follow{
    padding: 0 10vh;
    line-height: 3vh;
    /* width: 25%; */
}
.Follow p{
    display: flex;
}
.Follow h4{
    padding-bottom: 1.5vh;
    font-size: 2vh;
    color: #E58411;
    /* line-height: 1rem; */
}
.icon img{
    padding-right: 2vh;
    height: 2vh;
}

@media only screen and (max-width : 768px){
    header{
        width: 1022px;
        height: 705px;
    }
    /* header .main h4{
        font-size:20px;
        line-height: 24px;
    } */
    .search{
        width: 21rem;
    }
    .content2{
        width: 1022px
    }
    .selling{
        width: 1022px;
    }
    .option{
        height: 45px;
        width: 354px;
    }
    .text h3{
        font-size: 6vh;
        line-height: 7vh;
    }
    .info p{
        font-size: 3vh;
        line-height: 4vh;
    }
    .more-info p{
        font-size: 3vh;
    }
    .m-info p{
        font-size: 3vh;
        line-height: 4vh;
    }
    .image1{
        display: none;
    }
    .image2 img{
        width: 503px;
        margin-left: 7vh;
        height: 60vh;
        margin-right: -25vh;
    }
    .experience{
        width: 116vh;
        /* flex-direction: column; */
    }
    .materials{
        width: 116vh;
    }
    .material-content h3{
            margin-right: -9vh;
    line-height: 6vh;
    }
    .material-content{
        padding-top: 9vh;
    }
    .t-section{
        margin-left: 8vh;
    width: 109vh;
    }
    .testimonials{
        width: 932px;
        padding-bottom: 4rem;
    }
    .test-content{
        padding-bottom: 2rem;
    }
    .testimonial-info{
        gap: 3rem;
    }
    .testimonial-info-card{
        width: 41vh;
        height: 73vh;
        border-radius: 3vh
    }
    .cilent-disc{
        border-radius: 2vh;
    padding-top: 5vh;
    width: 36vh;
    height: 42vh;
    }
    footer{
        width: 1022px;
            justify-content: space-around;
    }
    .footer-content{
        /* padding-top: 7rem; */
        width: 64vh;
    }
    .f-info p{
        width: 9rem;
        line-height: 1.6rem;
        font-size: 1.2rem;
    }
    .services{
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .services h4{
        font-size: 1.5rem;
    }
    .Furniture{
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .Furniture h4{
        font-size: 1.5rem;
    }
    .Follow{
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .Follow h4{
        font-size: 1.5rem;
    }
    .f-info{
        width: 39%;
    }
  .f-icon{
    height: 18px;
    margin-top: 0.1rem;
    width: 25px;
  }
  .icon img{
    width: 4vh;
    height: 3vh;
    padding-top: 1vh;
}
}

@media only screen and (max-width : 1440px){
    header{
        width: 145vh;
    }
    .selling{
        width: 145vh;
    }
    footer{
        width: 145vh;
    }
    .option{
        height: 45px;
        width: 374px;
    }
    .testimonial-info-card{
        width: 41vh;
        height: 77vh;
        border-radius: 3vh;
        padding-top: 39vh;
    }
    .cilent-disc{
    border-radius: 2vh;
    padding-top: 5vh;
    width: 36vh;
    height: 27vh;
    line-height: 3vh;
    }
    .rating{
        padding-top:2vh;
    }
    .footer-content{
        margin-left: 0;
    }
    .icon img{
        width: 3.5vh;
        height: 2.5vh;
        padding-top: 0.5vh;
    }
}
@media only screen and (max-width:320px){
    body{
        overflow-x: hidden;
    }
    header{
        /* height: 450px; */
        height: 1450px;
        /* background-size: contain; */
        width: 71rem;
    }
    
    .bag{
        padding-left: 18rem;
        margin-top: 5rem;
        height: 11rem;
    }
    .count{
        margin-top: 0rem;
        height: 4rem;
        width: 3rem;
    }
    .header-content h2{
        font-size: 72px;
        line-height: 100px;
    }
    .header-content p{
        font-size: 47px;
    line-height: 90px;
    }
    .content2{
        /* width: 598px; */
        flex-direction: column;
    }
    
    .content2 h2{
        /* width: 10px; */
        margin: auto;
        font-size: 5rem;
    }
   .chossing-content{
    flex-direction: column;
   }
   .choosing h3{
    font-size: 3rem;
    margin-left: 16rem;
    padding-top: 6rem;
   }
   .choosing p{
    font-size: 3rem;
    /* width: 35rem; */
    margin-left: 3rem;
    padding-top: 3rem;
    line-height: 4rem;
   }
   .moreinfo{
    padding-left: 18rem;
   }
   .moreinfo img{
    margin-top: 2.3rem;
    width: 10rem;
    height: 6rem;
    padding-left: 2rem;
   }
   .selling{
    width: 71rem;
    height: 122rem;
    }
    .selling h3{
        font-size: 4rem;
        padding-top: 3rem;
        padding-bottom: 6rem;    
    }
    .option{
        height: 9rem;
        width: 56rem;
        
    }
    .option li{
        font-size: 4rem;
        padding: 2rem;
        text-align: center;
    }
    .option li:hover{
        background-color: #FFFFFF;
        border-radius: 50px;
        /* height: 3vh;
        width: 6vh; */
        padding:4vh;
    }
    .show {
        height: 84rem;
    }
    .item-info {
        width: 44rem;
        height: 27rem;
    }
    .item-info p {
        font-size: 4rem;
    }
    .item-info h4 {
        font-size: 4rem;
    }
    .product img {
        width: 44rem;
    }
    #backBtn, #nextBtn {
        height: 17rem;
        width: 19rem;
    }
    .item-info img {
        width: 26rem;
        height: 4rem;
    }
    .plus img{
        margin-left: 15rem;
        margin-top: 0rem;
        width: 9rem ;
        height: 6rem;
    }
    .viewall p{
        font-size: 5rem;
    }
    .viewall img{
        width: 13rem;
        margin-top: -2rem;
        padding-left: 2rem
    }
    .experience{
        width: 116vh;
        flex-direction: column;
    }
    .show-experience img{
        display: none;
    }
    .text{
        padding-top: 1px;
        /* padding-left: 8rem; */
    }
    .text h6{
        font-size: 5rem;
    }
    .text h3{
        font-size: 3.5rem;
        line-height: 6rem;
    /* text-align: center; */
    /* padding-left: 11rem; */
    } 
    .info p{
        font-size:3rem;
        line-height: 4rem;
    }
    .more-info p{
        font-size: 4rem;
    }
    .more-info img{
        padding-left: 2rem;
        width: 11rem;
    }
    .material-content h6{
        font-size: 5rem;
    }
    .material-content h3{
        font-size: 3.5rem;
        line-height: 6rem;
    }
    .m-info p{
        font-size:3rem;
        line-height: 4rem;
    }
    /* .image2{
        display: none;
    } */
    .image1{
        display: none;
    }
    .image2{
       display: none;
    }
    .materials{
        padding-bottom: 7rem;
        width: 108vh;
    }
    .testimonials{
        width: 68rem;
        margin: 4vh 0;
    }
    .test-heading{
        font-size: 5rem;
        padding-bottom: 2rem;
    }
    .test-content {
        font-size:3rem ;
    }
    .t-section{
        /* height: 286vh; */
    }
    .testimonial-info{
        gap: 15rem;
        width: 94%;
        padding-left: 22vh;
    }
    .testimonial-info-card{
        min-width: 70vh;
        height: 115vh;
        border-radius: 3vh;
        padding-top: 45vh;
    }
    .b-image1{
        width: 50vh;
    }
    .cilent-disc{
        /* border-radius: 2vh;
        padding-top: 5vh; */
        width: 65vh;
        height: 64vh;
    }
    .cilent-disc h3{
        font-size: 6vh;
    }
    .cilent-disc h4{
        font-size: 4vh;
        padding-top: 1vh;
        letter-spacing: 0.2vh;
    }
    .cilent-disc p{
        font-size: 4vh;
        padding-top: 2vh;
        line-height: 6vh;
    }
    .rating{
        width: 32vh;
    }
    .client{
        top: -110px;
        width: 20vh;
        height: 20vh;
    }
    #nextBtn1{
        width: 32vh;
        height: 26vh;
        margin-right: -21vh;
        margin-top: 40vh;
    }
    #backBtn1{
        width: 32vh;
        height: 26vh;
        margin-left: 5vh;
        margin-right: -25vh;
        margin-top: 41vh;
    }
    footer{
        flex-direction: column;
        line-height: 5vh;
        width: 71rem;
        height: 184vh;
        
    }
    .footer-content{
        flex-direction: column;

    padding-top: 0;
    }
    .f-info img{
        width: 24vh;
    }
    .f-info,.Furniture, .Follow, .services{
        width: 100%;
    }
    .Furniture h4{
        font-size: 6vh;
        padding-top: 8vh;
    }
    .Follow h4{
        font-size: 6vh;
        padding-top: 8vh;
    } 
    .services h4{
        font-size: 6vh;
        padding-top: 35vh;
    }
    .f-info p,.Furniture p, .Follow p, .services p{
        font-size: 5vh;
    width: 78vh;
    line-height: 9vh;
    }
    .icon img{
        width: 6vh;
        height: 7vh;
        padding-top: 2vh;
    }

    .list{
        position: absolute;
        display: block;
        /* width: 60%; */
        top: 15%;
        width: 30%;
        height: 33rem;
        background-color: #000000;
        display: none;
    }
    .list li{
        display: block;
        margin-top:65px;
        width: 100%;
        height: 40px;
        text-align: left;
        position: relative;
        top: 20px;
    }
    .list li a{
        margin-left: 10px;
        font-family: 600;
        font-size: 4rem;
    }
    .list li:hover{
        background-color: rgb(31,31,31);
    }
    .main h4{
        position: relative;
        width: 23%;
        top: 150px;
        z-index: 221;
        left: -9%;
        font-size: 80px;
    }
    #navicon{
        display: inline;
        position: relative;
        left: -82px;
        color: #EEEEEE;
        font-size: 76px;
        padding: 14%;
        border-radius: 4px;
        cursor: pointer;
        z-index: 222;
    }
    .list.navactive{
        display: inline;
    }
    
}